
.workflows {
    width: 200px;   height: 100%;
    position: fixed;
    z-index: 1;
    margin-left: 20px;
    left: 0;
}

/* Style the workflow-item */
.workflow-item {
    width: 150px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons inside the workflow-item */
.workflow-item button {
    width: 150px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

  /* Change background color of buttons on hover */
.workflow-item button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
  .workflow-item button.active {
    background-color: #ccc;
  }
  
  /* Style the workflow-item content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }