@import url("main.css");

.workflows {
    width: 200px;
    z-index: 1;
    margin-left: 20px;
    left: 0;
}

/* Style the workflow-item */
.workflow-item {
  width: 200px;
  padding: 4px 2px;
  font-size: 17px;
}

.workflow-list{
  overflow: auto;
  height: 480px;
}

.wf-clickable{
  cursor: pointer;
  width: 120px;
}
  
  /* Style the buttons inside the workflow-item */
.workflow-item button {
    
}

  /* Change background color of buttons on hover */
.workflow-item button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.workflow-item button.active {
  background-color: #ccc;
}
  
/* Style the workflow-item content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.crud-btn{
  background-color:  var(--btn-crud-pastelblue);
  display: inline-block;
  border: none; /* Remove borders */
  color: white; /* White text */
  width: 20px;
  margin-left: 2%;
  padding: 4px 4px 4px 10px; /* top, left, bottom, right*/
  font-size: 16px;
  cursor: pointer; /* Mouse pointer on hover */
}
.crud-btn:hover {
  background-color: RoyalBlue;
}

.workflow-btns{
  /* background-color:  var(--btn-crud-pastelblue); */
  display: inline-block;
  border: none; /* Remove borders */
  /* color: white; */
  width: 20px;
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 50%;
}
.workflow-btns:hover{
  background-color: lightgreen;
}
